@import "../../common-style/common-style.scss";

.mobile-page {
  display: flex;
  width: 100%;
  height: 100vh;
  .main-card-container {
    display: flex;
    flex-direction: column;
    .main-image {
      width: 100%;
      height: 30%;
      .main-onboarding-image {
        height: 100%;
        width: 100%;
      }
    }
  }
  .carousel-root {
    display: contents;
    .thumbs-wrapper {
      display: none;
    }
    .carousel-slider {
      height: 70%;
      background: #181818;
      display: grid;
      .control-dots {
        bottom: 10px;
        .dot {
          background: white;
          box-shadow: unset;
          opacity: 1;
          &.selected {
            background: $red;
          }
        }
      }
      .slider-wrapper {
        height: 100%;
      }

      .carousel-item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        height: 70%;
        .title {
          @include poppins500(28px);
          color: white;
          padding: 0px 24px;
          text-align: center;
        }
        .slide-top-container {
          background-color: #212838;
          height: 22%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        .slide-bottom-container {
          height: 78%;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          padding: 0px 16px;
        }
        .text {
          @include poppins500(20px);
          color: white;
          padding: 0px 16px;
          text-align: left;
          &.extra-space-between-lines {
            line-height: 38px;
          }
        }

        .empty-space {
          margin-bottom: 20px;
        }

        .read-more-link {
          @include link();
        }

        .extra-information {
          @include poppins400(14px);
          color: white;
          padding: 0px 16px;
        }

        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            border-radius: 8px;
            border: 1px solid $red;
            height: auto;
            max-width: 240px;
            max-height: 240px;
          }
        }
      }
    }
  }
}
