@import "./common-style/common-style.scss";

body,
#root {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//TODO move & cleanup bellow
// .presentation-mode {
//   .my-slide {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     height: $default-height;
//     padding: $default-padding;
//     line-height: 1.5;
//     font-size: 1.5em;
//     color: $text-color;
//     .paragraph-container {
//       display: flex;
//       flex-direction: column;
//       text-align: left;
//     }
//     .interactive-list-container {
//       display: flex;
//       flex-direction: row;
//       column-gap: 8px;
//       .interactive-item {
//         border-radius: 24px;
//         border-color: white;
//         border: 1px solid;
//         padding: 8px;
//         width: 200px;
//         .label {
//           font-size: 16px;
//         }
//         .description {
//           font-size: 12px;
//         }
//       }
//     }
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     p,
//     ul,
//     ol {
//       border: 0;
//       margin: 10px auto;
//       padding: 0;
//       display: inline-block;
//       width: 100%;
//     }

//     &.complex {
//       text-align: left;
//       flex-direction: column;
//       justify-content: flex-start;

//       h1,
//       h2,
//       h3,
//       h4,
//       h5,
//       h6,
//       p,
//       ul,
//       ol {
//         margin-bottom: 30px;
//       }
//     }

//     ul,
//     ol {
//       margin: 10px;
//       padding-left: 75px;
//     }

//     ol li {
//       list-style: decimal !important;
//     }

//     ul li {
//       list-style: disc;
//     }

//     p {
//       font-size: 0.85em;
//     }

//     strong,
//     em {
//       color: $emphasis-color;
//     }

//     a {
//       color: $link-color;
//       border-bottom: 3px dotted $link-color;
//       text-decoration: none;
//     }

//     iframe,
//     img {
//       width: $default-width;
//       height: $default-height;
//       margin: -$default-padding;
//     }

//     ul,
//     ol,
//     li {
//       text-align: left;
//     }

//     blockquote {
//       position: relative;
//       color: $text-color;
//       text-align: left;
//       border-left: 10px solid $emphasis-color;
//       margin: 1.5em 10px;
//       padding: 0.5em 10px;
//       padding-left: 50px;
//       quotes: "\201C""\201D""\2018""\2019";
//     }

//     blockquote:before {
//       color: #ccc;
//       content: open-quote;
//       position: absolute;
//       left: 10px;
//       top: 30px;
//       font-size: 4em;
//       line-height: 0.1em;
//       margin-right: 0.25em;
//       vertical-align: -0.4em;
//     }

//     blockquote p {
//       display: inline;
//     }

//     &.primary {
//       background-color: $slide-primary-color;
//     }

//     &.secondary {
//       background-color: $slide-secondary-color;
//     }

//     &.content {
//       background-color: $slide-content-color;
//     }
//   }
// }

// .tutorial-page {
//   justify-items: center;
//   display: flex;
//   flex-direction: column;
//   width: $default-width;
//   height: $default-height;
//   .welcome-avatar-container {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .welcome-label-avatar-container {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .welcome-label {
//         font-size: 40px;
//         margin-bottom: 8px;
//       }
//       .avatar-container {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         margin-left: 8px;
//         .user-picture {
//           border-radius: 50%;
//           width: 50px;
//           height: 50px;
//         }
//         .username-label {
//           margin-left: 8px;
//           user-select: none;
//           font-size: 32px;
//         }
//       }
//       .progress-container {
//         margin-left: 8px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         width: 160px;
//         justify-content: space-between;
//         background-color: rgba(68, 68, 124, 0.605);
//         border-radius: 24px;
//         .progress-bar {
//           width: 0%;
//           height: 20px;
//           background-color: blue;
//           border-radius: 24px;
//         }
//         .progress-value {
//           font-size: 18px;
//         }
//       }
//       &.floating {
//         flex-direction: row;
//       }
//     }
//     &.floating {
//       position: absolute;
//       top: 0px;
//       left: 0px;
//       z-index: 10;
//       background-color: white;
//       width: auto;
//       padding: 8px;
//       border-top-right-radius: 24px;
//       border-bottom-right-radius: 24px;
//     }
//   }
//   .option-buttons-container {
//     display: flex;
//     flex-direction: column;
//     width: 60%;
//     margin-top: 8px;
//     padding: 16px;
//     align-items: center;
//     align-self: center;
//     .option-label {
//       font-size: 24px;
//     }
//     .buttons-container {
//       display: flex;
//       flex-direction: row;
//       width: 100%;
//       justify-content: space-between;
//       .button-action {
//         height: 40px;
//         width: 140px;
//         cursor: pointer;
//       }
//     }
//   }
// }
